<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<title>Chat Room</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
	<link rel="stylesheet" href="/assets/css/ready.css">
	<link rel="stylesheet" href="/assets/css/demo.css">
</head>

<style>
    .cancelNotificationSuccess, .cancelNotificationError  {
  background-color: rgba(0, 0, 0, 0.5); position: absolute; top: 5px; right: 5px; height: 25px; width: 25px; ; text-align: center; line-height: 25px; border-radius: 50%; cursor: pointer;
}
.notificationSuccess, .notificationError  {
  position: absolute; bottom: 25px; left: 25px; bottom: 25px; border-radius: 15px; position: fixed; width: 275px; z-index: 5000; background-color: rgb(137, 255, 137); display: none;
}


.notificationSuccess {
  background-color: rgb(65, 206, 97);
}
.notificationError {
  background-color: #f17878;
}
</style>


<body>
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<a href="/chat/<%= course._id %>" class="logo">
					<%= course.coursename %> Chat Room
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				<div class="container-fluid">

                    <form class="navbar-left navbar-form nav-search mr-md-3">
                        <h5 class="mb-0">Chatting  with users of <%= course.coursename %> Course</h5>
                    </form>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">

						<li class="nav-item dropdown">
							<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img src="/assets/uploads/<%= user.avatar %>" alt="user-img" width="36" class="img-circle"><span ><%= user.fullname %></span></span> </a>
							<ul class="dropdown-menu dropdown-user">
								<li>
									<div class="user-box">
										<div class="u-img"><img src="/assets/uploads/<%= user.avatar %>"  alt="user"></div>
										<div class="u-text">
											<h4><%= user.fullname %></h4>
											<p class="text-muted"><%= user.email %></p><a href="/profile" class="btn btn-rounded btn-danger btn-sm">View Profile</a></div>
										</div>
									</li>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="/profile"><i class="ti-user"></i> Profile</a>
									<a class="dropdown-item" href="/explore"><i class="ti-settings"></i> Explore Courses</a>
									<a class="dropdown-item" href="/courses"><i class="ti-settings"></i> Courses</a>
									<a class="dropdown-item" href="/book"><i class="ti-settings"></i> Booked Courses</a>
									<a class="dropdown-item" href="/settings"><i class="ti-settings"></i> Account Settings</a>
									<a class="dropdown-item" href="/notifications"><i class="ti-settings"></i> Notifications</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="/profile/logout"><i class="fa fa-power-off"></i> Logout</a>
								</ul>
								<!-- /.dropdown-user -->
							</li>
						</ul>
					</div>
				</nav>
		</div>
		<div class="sidebar">
			<div class="scrollbar-inner sidebar-wrapper">
				<ul class="nav">
					<li class="nav-item">
						<% course.users.forEach((user) => { %>
							<a>
								<% if(user.accountActive === true) { %>
									<span class="badge badge-success">Online</span>
								<% } else { %>
									<span class="badge badge-success">Offline</span>
								<% } %>
								<p class="pl-1"><%= user.fullname %></p>
							</a>
						<% }) %>
					</li>
				</ul>
			</div>
		</div>
		<div class="main-panel">
			<div class="centerBox container-fluid py-3 bg-white" id="centerBox" style="position: absolute; top: 0; left: 0; right: 0; bottom: 85px; overflow-y: auto; margin-top: 55px">
			
				
			</div>
			<div class="bottomBox" id="bottomBox" style="position: absolute; left: 0; right: 0; bottom: 0">
				<div class="input-group">
					<div class="input-group-prepend">
					  <span class="input-group-text"><i class="far fa-comments"></i></span>
					</div>
					<textarea class="message form-control" aria-label="With textarea" style="resize: none; height: 85px" placeholder="Enter your message to group" name="message" id="message"></textarea>
					<div class="input-group-append">
						<button type="button" class="btn btn-success" id="sendMessage">Send</button>
					</div>
				</div>
			</div>
			
		</div>	
	</div>  
	  <!-- Notification -->
	  <div class="notificationSuccess text-white shadow-lg p-3"></div>
	  <div class="notificationError text-white shadow-lg p-3"></div>
	  <!-- Notification -->

<script src="/assets/js/core/jquery.3.2.1.min.js"></script>
<script src="/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
<script src="/assets/js/plugin/chartist/chartist.min.js"></script>
<script src="/assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="/assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="/assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="/assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="/assets/js/ready.min.js"></script>
<script src="/assets/js/demo.js"></script>
<%# FontAwesome Included as JS %>
<script src="https://kit.fontawesome.com/8c190c8b3a.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script>
	$(() => {

$(".centerBox").animate({ scrollTop: 20000000 }, "slow");

const socket = io();

// If socket is disconnected
socket.on('disconnect', () => {
	$('#message').prop('disabled', true);
	$('#message').prop('placeholder', "Connection Lost! Reconnecting...");
});

// If socket is reconnected
socket.on('reconnect', function () {
	setTimeout(() => {
		$('#message').prop('disabled', false);
		$('#message').prop('placeholder', "Type your message..");
	}, 4000);
});

// If socket is reconnect_failed
socket.on('reconnect_failed', function () {
	$('#message').prop('placeholder', "No active connection. Please refresh page...");
});

fetch('/chat/fetchMessages', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
			},
			body: JSON.stringify({ roomID: "<%= course._id %>" }),
		})
			.then(response => response.json())
			.then(data => {
				$.each(data, (index, data) => {
					console.log(data)
					$(".centerBox").append(`
		  ${ (data.userID.role === 'User') ? `
				<div class="row mt-3">
					<div class="col-12">
						<div class="user rounded-lg shadow-sm p-2 text-white d-flex" style="background-color: rgb(81, 113, 196); width: 60%;">
							<div class="userImage">
								<img class="rounded-lg shadow" src="/assets/uploads/${ data.userID.avatar }" style="height: 50px; width: 50px; border-radius: 50%"/>
							</div>
							<div class="userContent pl-2" style="width: calc(100% - 50px)">
								<h6 class="mb-0">${ data.userID.fullname } </h6>
								<p class="mb-0">${ data.message } </p>
								<span>Date as ${ data.createdAt }</span>
							</div>
						</div>
					</div>
				</div>
		  ` : `
		  <div class="row mt-3">
					<div class="col-12">
						<div class="admin rounded-lg shadow-sm p-2 text-white d-flex" style="background-color: rgb(54, 55, 56); width: 60%; left: 40%; position: relative;">
							<div class="adminImage">
								<img class="rounded-lg shadow" src="/assets/uploads/${ data.userID.avatar }" style="height: 50px; width: 50px; border-radius: 50%"/>
							</div>
							<div class="adminContent pl-2" style="width: calc(100% - 50px)">
								<h6 class="mb-0">${ data.userID.fullname }</h6>
								<p class="mb-0">${ data.message }</p>
								<span>Date as ${ data.createdAt }</span>
							</div>
						</div>
					</div>
				</div>
		  ` }
		  `)
		
				})
				$(".centerBox").animate({ scrollTop: 20000000 }, "slow");
				

			})
			.catch((error) => {
				console.error('Error:', error);
			});

socket.emit('joinRoom', {
	roomID: "<%= course._id %>"
})

socket.emit("join", "<%= user.id %>");
                socket.on("courseData", data => {
                    $(".notificationSuccess")
                .html(
                    `
     <div class="cancelNotificationSuccess text-white" id="cancelNotificationSuccess">x</div>
    <audio autoplay class="d-none">
    <source src="
    /assets/sounds/notification.mp3" type="audio/mpeg">
    </audio>
    <h4 class="text-white">Notification</h4>
    <p class="mb-0 text-white" style="font-size: 14px">${ data.coursename } is created now. You can visit the course link on <a target="_blank" href="/course/${ data.courseID }">Visit</a></p>
     `
                )
                .show(100)
                .delay(5000)
                .hide(100);
                    
                })

// Authenticated
// socket.emit('authentication', {
// 	id: "<= user._id %>",
// 	email : "<= user.email %>",
// 	accountToken : "<= user.accountToken %>"
// });

// socket.on('authentication',  (data) => {
// 	console.log('Authentication is done');
// });

socket.on('error', (data) => {
	alert(data.msgUser);
})




// clientMessage
// 	const clientMessage = (msg) => {
// 		$(".messages").append(`
// 	<div class="ClientMessage mt-2 d-flex animated bounceIn">
// 		<div class="ClientImage">
// 			<img title="botImage" alt="botImage" src="/assets/Images/Avatar/User.png" style="height: 50px; width: 50px; border-radius: 50%;"/>
// 		</div>
// 		<div class="ClientContent bg-light p-2 ml-2" style="border-radius: 4px; width: calc(100% - 50px)">
// 			<h6>User</h6>
// 			<p class="mb-0" style="font-size: 14px">${ msg}</p>
// 			<span class="bot_timestamp" style="font-size: 12px">${ moment(Date.now()).fromNow()} </span>
// 		</div>
// 	</div>
// `);
// 		$(".messages").animate({ scrollTop: 20000000 }, "slow");
// 		$(".inputMessage").val("").focus();
// 	}




// socket.on('userConnected', (data) => {
// 	$(".messages").append(`
// 		<div class="adminConnected mt-2 animated bounceIn text-center">
// 			<p style="font-size: 12px">${ data.msg }</p>
// 		</div>
// 	`);
// });

// socket.on('leaving', (data) => {
// 	if(data.leavingFrom === "Admin")  {
// 		$(".messages").append(`
// 		<div class="adminLeft mt-2 animated bounceIn text-center">
// 			<p style="font-size: 12px">${ data.msg }</p>
// 		</div>
// 	`);
// 	}
// });

// $('.closeChatArea').click(() => {
// 	$('.chatArea').hide(250);
// 	$(".openBox").addClass("animated");
// });

// $('.custom-control-input').on('click', () => {
// 	localStorage.setItem("chatSound", !chatSound);
// 	chatSound = !chatSound
// })

// Send message to the admin if there is roomID. if there is not roomID, the botter will speak
$('#message').keypress((e) => {
	if (e.which === 13) {
		e.preventDefault();
		if ($('#message').val().trim()) {
			socket.emit('chatMessage', {
				roomID: "<%= course._id %>",
				userID: "<%= user._id %>",
				message: $("#message").val().trim()
			});
		$('#message').val('').focus()
		} else {
			alert('The Input is empity');
			console.log('The Input is empty')
		}
	} 
})

$("#sendMessage").click(() => {
	if ($('#message').val().trim()) {
			socket.emit('chatMessage', {
				roomID: "<%= course._id %>",
				userID: "<%= user._id %>",
				message: $("#message").val().trim()
	});
	$('#message').val('').focus()
	} else {
		alert('The Input is empity');
		console.log('The Input is empty')
	}
})

// specify the typting
// socket.on('typing', (data) => {
// 	if (data.isTyping && data.person === 'Admin')
// 		$(".typing").text("Admin is typing...");
// 	else
// 		$(".typing").text('');
// });


// exchange the message
socket.on('chatMessage', function (data) {
	console.log(data)
	if (data.userID.role === "User")
	$(".centerBox").append(`
	<div class="row mt-3">
					<div class="col-12">
						<div class="user rounded-lg shadow-sm p-2 text-white d-flex" style="background-color: rgb(81, 113, 196); width: 60%;">
							<div class="userImage">
								<img class="rounded-lg shadow" src="/assets/uploads/${ data.userID.avatar }" style="height: 50px; width: 50px; border-radius: 50%"/>
							</div>
							<div class="userContent pl-2" style="width: calc(100% - 50px)">
								<h6 class="mb-0">${ data.userID.fullname } </h6>
								<p class="mb-0">${ data.message } </p>
								<span>Date as ${ data.createdAt }</span>
							</div>
						</div>
					</div>
				</div>
		`);
	else {
	$(".centerBox").append(`
	<div class="row mt-3">
					<div class="col-12">
						<div class="admin rounded-lg shadow-sm p-2 text-white d-flex" style="background-color: rgb(54, 55, 56); width: 60%; left: 40%; position: relative;">
							<div class="adminImage">
								<img class="rounded-lg shadow" src="/assets/uploads/${ data.userID.avatar }" style="height: 50px; width: 50px; border-radius: 50%"/>
							</div>
							<div class="adminContent pl-2" style="width: calc(100% - 50px)">
								<h6 class="mb-0">${ data.userID.fullname }</h6>
								<p class="mb-0">${ data.message }</p>
								<span>Date as ${ data.createdAt }</span>
							</div>
						</div>
					</div>
			</div>
		`);
			}
	
	$(".centerBox").animate({ scrollTop: 20000000 }, "slow");
});

// const isTyping = () => {
// 	socket.emit("typing", {
// 		isTyping: true,
// 		roomID: roomID,
// 		person: "User"
// 	});
// }

// const isnotTyping = () => {
// 	socket.emit("typing", {
// 		isTyping: false,
// 		roomID: roomID,
// 		person: "User"
// 	});
// }



})
</script>
</body>
</html>
