<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/main.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="../assets/images/logo.png" />
    <link rel="stylesheet" href="../assets/css/typeahead.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">
    <link href="../assets/css/lightbox.css" rel="stylesheet" />
    <link href="https://unpkg.com/video.js@7/dist/video-js.min.css" rel="stylesheet">
    <link href="https://unpkg.com/@videojs/themes@1/dist/forest/index.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/slick-theme.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.min.css  " />
    <link rel="stylesheet" type="text/css" href="../assets/css/amsify.suggestags.css" />
    <title>
        <%= user.fullname %>
    </title>
</head>



<body style="position: relative">

    <!-- Navigation Bar Content -->
    <%- include('../partials/English/Header') -%>
    <!-- Navigation Bar Content -->

    <div class="container p-3" style="margin-top: 110px">
        <div class="row">
            <div class="col-12">
                <div class="p-2 shadow-sm rounded-lg border content" style="background-color: #fff0c6">
                    <h3>Search about courses based on name and price</h3>
                    <form class="d-flex myForm" id="myForm" action="/user/profile" method="post">
                        <div class="input-group w-25">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-burn"></i></span>
                            </div>
                            <select class="custom-select" name="coursename">
                                <option value="all">All
                                </option>
                                <option value="English">English
                                </option>
                                <option value="Maths">
                                    Maths
                                </option>
                                <option value="Arabic">
                                    Arabic
                                </option>
                                <option value="Pro">
                                    Pro
                                </option>
                            </select>
                            <div class="input-group-append">
                                <label class="input-group-text" for="inputGroupSelect02">Course</label>
                            </div>
                        </div>
                        <div class="ml-2 input-group w-25">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                            </div>
                            <select class="custom-select" name="courseprice">
                                <option value="50">50$
                                </option>
                                <option value="100">
                                    100$
                                </option>
                            </select>
                            <div class="input-group-append">
                                <label class="input-group-text" for="inputGroupSelect02">Price</label>
                            </div>
                        </div>
                        <button type="submit" class="ml-2 btn btn-warning">
                            <span>Search now</span>
                            <span><i class="fas fa-search"></i></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <% courses.forEach((course, localIndex) => { %>
            <div class="col-lg-4 col-md-6 mt-3">
                <a class="courseContent d-block p-3 shadow" href="/course/<%= course._id %>"
                    target="_blank" style="position: relative;">
                    <div class="d-flex justify-content-between">
                        <div class="left-content-for-image">
                            <img class="shadow" src="../assets/centerphotos/<%= course.centerphoto %>"
                                title="Course Center" alt="Course Center"
                                style="height: 100px; width: 100px; border-radius: 50%; border: 1px solid #888" />
                                <span class="goDetails">Go Details <i class="fas fa-arrow-circle-right"></i></span>
                        </div>
                        <div class="right-content-for-coursebio pl-2 d-flex flex-column justify-content-center"
                            style="width: calc(100% - 100px)">
                            <h4 class="text-primary m-0"><span class="coursename"><%- course.coursename %>
                                </span>
                                <span class="badge badge-info"><%= course.users.length %> / <%= course.courselimited %></span>
                            </h4>
                            <p style="font-size: 14px"><%= course.coursename %> Course Its price is <%= course.courseprice %> It will start at <%= moment(course.coursestart).format('DD-MMM-YYYY') %> amd end at <%= moment(course.courseend).format('DD-MMM-YYYY') %></p>
                        </div>
                    </div>

                </a>
            </div>

            <% }) %>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/8c190c8b3a.js"></script>

    <%# Bootstrap4 Package Included as JS %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js "
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
        crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js "
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 "
        crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js "
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM "
        crossorigin="anonymous "></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <%# Typeahead to use Search Engine %>
    <script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
    <script src="/assets/js/searchEngine.js"></script>

    <%# For Uploading File and making the videoJS take the full width of its parent %>
    <script>
        $(() => {
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
            $(".video-js").css("width", "100%")
        })
    </script>

    <%# Lightbox for the profile image %>
    <script src="/assets/js/lightbox.js"></script>

    <%# VideoJS as Javascript %>
    <script src="//vjs.zencdn.net/7.3.0/video.min.js"></script>

    <%# SlickJS to make carousel %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $(() => {
            $('.course').slick({
                infinite: false,
                dots: false,
                speed: 1000,
                slidesToShow: 5,
                slidesToScroll: 2
            });
        })
    </script>

    <% if(user.role === "User") { %>
    <%# These Scripts are shown only to the User %>
    <script src="https://www.atfawry.com/ECommercePlugin/scripts/FawryPay.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
        $(() => {
            var socket = io()
            socket.emit("join", "<%= user.id %>");
            socket.on("courseData", data => {
                $("#flashContent").html(`
                    <div class="flashMessage" class="alert alert-danger alert-dismissible fade show" role="alert" role="alert" style="width: 275px; font-size: 14px;">
                        <audio autoplay class="d-none">
                            <source src="../assets/sounds/notification.mp3" type="audio/mpeg">
                         </audio>
                        <strong>Important Notification!</strong><br> ${data.coursename} Course is created now. You can visit the course link on <a target="_blank" href="/course/${data.courseID}">Visit</a> </span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                 </div>
                `);
            })

        })
    </script>
    <script src="/assets/js/jquery.amsify.suggestags.js"></script>
    <script>
        $(() => {
            $('input[name="tags"]').amsifySuggestags({
                suggestions: ["Photoshop", "Adobe Illustrator", "Drawing", "Digital Painting", "InDesign", "Marketing Strategy", "Facebook Marketing", "Google Analytics", "Email Marketing", "Business Strategy", "Cisco CCNA", "CompTIA A+", "AWS Certified Cloud Practitioner", "CompTIA Security+", "CompTIA Network+", "SQL", "MySQL", "Data Modeling", "Data Analysis", "Big Data", "PLC", "Electronics", "Arduino", "Cell Phone Repair", "Microcontroller", "HTML and CSS", "JavaScript and jQuery", "Bootstrap4", "Pug and SASS", "VueJS", "PHP and Laravel", "NodeJS and ExpressJS", "Python and DJango", "ASP.Net backend", "C# backend", "JavaScript", "Java", "Python", "React", "C++", "Finance", "Entrepreneurship", "Communications", "Management", "Sales", "Linux", "Windows Server", "Linux Administration", "Shell Scripting", "Active Directory"],
                whiteList: true,
                tagLimit: 5
            });
        })
    </script>
    <script>
        $(() => {
            const visited = localStorage.getItem('visited');
            if (!visited) {
                $("#messageToUserButton").click();
                localStorage.setItem('visited', true);
            }
        })
    </script>
    <% } %>
</body>

</html>