<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags(utf-8) & (viewport) -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/assets/images/System/Logo/logo.png" />
    <!-- Typeahead CSS -->
    <link rel="stylesheet" href="/assets/css/typeahead.css">
    <!-- LightBox CSS -->
    <link href="/assets/css/lightbox.css" rel="stylesheet" />
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/assets/css/animate.css" />
    <!-- Hover CSS -->
    <link rel="stylesheet" href="/assets/css/hover.css" />
    <!-- Hover CSS -->
    <link rel="stylesheet" href="/assets/css/slick.css" />
    <!-- Hover CSS -->
    <link rel="stylesheet" href="/assets/css/slick-theme.css" />
    <!-- simplePagination CSS -->
    <link href="/assets/css/simplePagination.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Profile CSS -->
    <link rel="stylesheet" href="/assets/css/profile.css" />
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <title>
        <%= user.fullname %>
    </title>
</head>



<body style="position: relative">

    <%- include('../partials/English/Header') -%>

    <div class="container mb-4" style="margin-top: 110px">
        <%- include('../partials/Basic/flashMessages.ejs') -%>
        <%- include('../partials/Basic/errors.ejs') -%>
        <% if(user.accountVerified === false) { %>
        <div class="message alert alert-danger">

            <p class="d-inline">Your Email: <strong><%= user.email %></strong> <span>is not verified,</span> <span>We
                    have sent a message
                    to your email</span></p>
            <form class="resend d-inline" id="resend" method="post" action="/profile/emailVerification">
                <button type="submit" class="btn btn-danger btn-sm">Resend</button>
            </form>

        </div>
        <% } %>
        <div class="row mt-3">
            <div class="col-12 ">
                <div class="p-2 shadow-sm rounded-lg border content" style="background-color: #fff0c6">
                    <h3>Search about courses based on name and price</h3>
                    <form class="myForm container-fluid" id="myForm" action="/courses/filter" method="GET">
                        <div class="row">
                            <div class="col-lg-3 col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-burn"></i></span>
                                    </div>
                                    <select class="custom-select" name="coursename">
                                        <optgroup label="Graphic Design">
                                            <option value="Photoshop">Photoshop</option>
                                            <option value="Adobe Illustrator">Adobe Illustrator</option>
                                            <option value="Drawing">Drawing</option>
                                            <option value="Digital Painting">Digital Painting</option>
                                            <option value="InDesign">InDesign</option>
                                        </optgroup>
                                        <optgroup label="Digital Marketing">
                                            <option value="Marketing Strategy">Marketing Strategy</option>
                                            <option value="Facebook Marketing">Facebook Marketing</option>
                                            <option value="Google Analytics">Google Analytics</option>
                                            <option value="Email Marketing">Email Marketing</option>
                                            <option value="Business Strategy">Business Strategy</option>
                                        </optgroup>
                                        <optgroup label="IT Certification">
                                            <option value="Cisco CCNA">Cisco CCNA</option>
                                            <option value="CompTIA A+">CompTIA A+</option>
                                            <option value="AWS Certified Cloud Practitioner">AWS Certified
                                                Cloud Practitioner</option>
                                            <option value="CompTIA Security+">CompTIA Security+</option>
                                            <option value="CompTIA Network+">CompTIA Network+</option>
                                        </optgroup>
                                        <optgroup label="Data and Analytics">
                                            <option value="SQL">SQL</option>
                                            <option value="MySQL">MySQL</option>
                                            <option value="Data Modeling">Data Modeling</option>
                                            <option value="Data Analysis">Data Analysis</option>
                                            <option value="Big Data">Big Data</option>
                                        </optgroup>
                                        <optgroup label="Hardware">
                                            <option value="PLC">PLC</option>
                                            <option value="Electronics">Electronics</option>
                                            <option value="Arduino">Arduino</option>
                                            <option value="Cell Phone Repair">Cell Phone Repair</option>
                                            <option value="Microcontroller">Microcontroller</option>
                                        </optgroup>
                                        <optgroup label="Front-end web">
                                            <option value="HTML and CSS">HTML and CSS</option>
                                            <option value="JavaScript and jQuery">JavaScript and jQuery
                                            </option>
                                            <option value="Bootstrap4">Bootstrap4</option>
                                            <option value="Pug and SASS">Pug and SASS</option>
                                            <option value="VueJS">VueJS</option>
                                        </optgroup>
                                        <optgroup label="Back-end web">
                                            <option value="PHP and Laravel">PHP and Laravel</option>
                                            <option value="NodeJS and ExpressJS">NodeJS and ExpressJS
                                            </option>
                                            <option value="Python and DJango">Python and DJango</option>
                                            <option value="ASP.Net backend">ASP.Net backend</option>
                                            <option value="C# backend">C# backend</option>
                                        </optgroup>
                                        <optgroup label="Programming Languages">
                                            <option value="JavaScript">JavaScript</option>
                                            <option value="Java">Java</option>
                                            <option value="Python">Python</option>
                                            <option value="React">React</option>
                                            <option value="C++">C++</option>
                                        </optgroup>
                                        <optgroup label="Business">
                                            <option value="Finance">Finance</option>
                                            <option value="Entrepreneurship">Entrepreneurship</option>
                                            <option value="Communications">Communications</option>
                                            <option value="Management">Management</option>
                                            <option value="Sales">Sales</option>
                                        </optgroup>
                                        <optgroup label="Operating Systems">
                                            <option value="Linux">Linux</option>
                                            <option value="Windows Server">Windows Server</option>
                                            <option value="Linux Administration">Linux Administration
                                            </option>
                                            <option value="Shell Scripting">Shell Scripting</option>
                                            <option value="Active Directory">Active Directory</option>
                                        </optgroup>
                                    </select>
                                    <div class="input-group-append">
                                        <label class="input-group-text" for="inputGroupSelect02">Course</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-12 mt-2 mt-lg-0">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                                    </div>
                                    <select class="custom-select" name="courseprice">
                                        <% for(var i = 1; i <= 100; i++) { %>
                                            <option value="<%= i %>">
                                                <%= i %>
                                            </option>
                                        <% } %>
                                    </select>
                                    <div class="input-group-append">
                                        <label class="input-group-text" for="inputGroupSelect02">Price</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-12 col-12 mt-2 mt-lg-0">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                                    </div>
                                    <select class="custom-select" name="centerlocation">
                                        
                                            <option value="Alexandria">Alexandria</option>
                                            <option value="Aswan">Aswan</option>
                                            <option value="Asyut">Asyut</option>
                                            <option value="Beheira">Beheira</option>
                                            <option value="Beni Suef">Beni Suef</option>
                                            <option value="Cairo">Cairo</option>
                                            <option value="Dakahlia">Dakahlia</option>
                                            <option value="Damietta">Damietta</option>
                                            <option value="Faiyum">Faiyum</option>
                                            <option value="Gharbia">Gharbia</option>
                                            <option value="Giza">Giza</option>
                                            <option value="Ismailia">Ismailia</option>
                                            <option value="Kafr El Sheikh">Kafr El Sheikh</option>
                                            <option value="Luxor">Luxor</option>
                                            <option value="Matruh">Matruh</option>
                                            <option value="Minya">Minya</option>
                                            <option value="Monufia">Monufia</option>
                                            <option value="New Valley">New Valley</option>
                                            <option value="North Sinai">North Sinai</option>
                                            <option value="Port Said">Port Said</option>
                                            <option value="Qalyubia">Qalyubia</option>
                                            <option value="Qena">Qena</option>
                                            <option value="Red Sea">Red Sea</option>
                                            <option value="Sharqia">Sharqia</option>
                                            <option value="Sohag">Sohag</option>
                                            <option value="South Sinai">South Sinai</option>
                                            <option value="Suez">Suez</option>
                                        
                                    </select>
                                    <div class="input-group-append">
                                        <label class="input-group-text" for="inputGroupSelect02">Price</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-12 mt-2 mt-lg-0">
                                    
                        <button type="submit" class="btn btn-warning  mt-2 mt-lg-0">
                            <span>Search now</span>
                            <span><i class="fas fa-search"></i></span>
                        </button>
                            </div>
                        </div>
                        
                        
                    
                    </form>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <w if(Courses.length <= 0) { %>
                <div class="col-12">
                    <div class="alert alert-primary mb-0">Related Courses are fond for you</div>
                </div>
            <w } %>
        </div> -->
        <% if(pageCount > 0) { %>
            <div class="row">
                <div class="col-12">
                    <div class="paginationContent bg-white p-3 shadow-sm rounded-lg"></div>
                </div>
            </div>
            <div class="row Courses">
                
            </div>
        <% } else {  %>
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-danger mb-0">There are no courses that are matched this query</div>
                </div>
            </div>
        <% } %>
        
    </div>


    <% if(user.role === "User") { %>
    <div class="flashContent" id="flashContent" style="position: fixed; left: 13px; bottom: 13px; z-index: 999"></div>
    <%# Message to User  #%>
    <button id="messageToUserButton" type="button" class="btn btn-primary" val-toggle="modal"
        val-target="#messageToUser" style="display: none;">
        Launch demo modal
    </button>
    <div class="modal fade" id="messageToUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Important Notification</h5>
                    <button type="button" class="close" val-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>We have set default tags for you. You must know that we select twenty random courses based on
                        your tags, so You can change the default tags Settings</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" val-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <% } %>

      <!-- Notification -->
      <div class="notificationSuccess text-white shadow-lg p-3"></div>
      <div class="notificationError text-white shadow-lg p-3"></div>
      <!-- Notification -->


    <%# Bootstrap4 Package Included as JS %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js "
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
        crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js "
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 "
        crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js "
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM "
        crossorigin="anonymous "></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <%# Typeahead to use Search Engine %>
    <script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
    <script src="/assets/js/searchEngine.js"></script>

    <%# For Uploading File %>
    <script>
        $(() => {
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
        })
    </script>

    <%# FontAwesome Included as JS %>
    <script src="https://kit.fontawesome.com/8c190c8b3a.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
        $(() => {
            var socket = io()
            socket.emit("join", "<%= user.id %>");
            socket.on("courseData", data => {
                $(".notificationSuccess")
            .html(
                `
 <div class="cancelNotificationSuccess text-white" id="cancelNotificationSuccess">x</div>
<audio autoplay class="d-none">
<source src="
/assets/sounds/notification.mp3" type="audio/mpeg">
</audio>
<h4 class="text-white">Notification</h4>
<p class="mb-0 text-white" style="font-size: 14px">${ data.coursename } is created now. You can visit the course link on <a target="_blank" href="/course/${ data.courseID }">Visit</a></p>
 `
            )
            .show(100)
            .delay(5000)
            .hide(100);
                
            })

        })
    </script>


    <%# Lightbox for the profile image %>
    <script src="/assets/js/lightbox.js"></script>

    <%# SlickJS to make carousel %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $(() => {
            $('.users').slick({
                dots: true,
                infinite: false,
                speed: 300,
                slidesToShow: 4,
                slidesToScroll: 4,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3
                        },
                        breakpoint: 576,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        })
    </script>

    <% if(user.role === "User") { %>
    <%# These Scripts are shown only to the User %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
        $(() => {
            var socket = io()
            socket.emit("join", "<%= user.id %>");
            socket.on("courseval", val => {
                $("#flashContent").html(`
                    <div class="flashMessage" class="alert alert-danger alert-dismissible fade show" role="alert" role="alert" style="width: 275px; font-size: 14px;">
                        <audio autoplay class="d-none">
                            <source src="../assets/sounds/notification.mp3" type="audio/mpeg">
                         </audio>
                        <strong>Important Notification!</strong><br> ${dataname} Course is created now. You can visit the course link on <a target="_blank" href="/course/${dataID}">Visit</a> </span>
                        <button type="button" class="close" val-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                 </div>
                `);
            })

        })
    </script>
    <script>
        $(() => {
            const visited = localStorage.getItem('visited');
            if (!visited) {
                $("#messageToUserButton").click();
                localStorage.setItem('visited', true);
            }
        })
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="/assets/js/jquery.simplePagination.js"></script>
    <script>
        $.ajax({
            url: `/courses/process?pageNo=1&&coursename=<%= coursename %>&&courseprice=<%= courseprice %>&&centerlocation=<%= centerlocation %>`,
            type: "GET",
            dataType: "json",
            success: (data) => {
                $.each(data, (index, data) => {
                    $(".Courses").append(`
                    <div class="col-lg-4 col-md-6 col-12 mt-4">
                    <div class="courseContent p-4 bg-white shadow" style="border-radius: 20px">
                        <div class="top-courseContent d-flex">
                            <div class="forImage text-center">
                                <div class="img"><img src="/assets/centerphotos/${ data.centerphoto}" style="height: 80px; width: 80px; border-radius: 50%" title="Beauty" alt="Beauty"/></div>
                            </div>
                            <div class="forContent pl-2" style="width: calc(100% - 80px)"><h4>${ data.coursename}Course</h4> <p class="mb-0" style="font-size: 13px">${data.coursename} Course is now avialable with Price ${data.courseprice} and number of limited users is ${data.courselimited} at ${data.centerlocation} ${data.users.length} </p>
                            </div>
                        </div>
                        <div class="bottom-courseContent d-flex flex-row flex-wrap justify-content-center mt-2">
                            <span class="badge badge-light m-1 border" style="font-size: 13px">Price: ${ data.courseprice}$</span>
                            <span class="badge badge-light m-1 border" style="font-size: 13px">Limited: ${ data.courselimited} </span>
                            <span class="badge badge-light m-1 border" style="font-size: 13px">Start: ${ moment(data.coursestart).format("MMM Do YY")} </span>
                            <span class="badge badge-light m-1 border" style="font-size: 13px">End: ${ moment(data.courseend).format("MMM Do YY")} </span>
                            <span class="badge badge-light m-1 border" style="font-size: 13px">Location: ${ data.centerlocation}</span>
                            <span class="badge badge-light m-1 border" style="font-size: 13px">Place: ${ data.centerplace}</span>
                        </div>
                        <div class="forLink mt-2">
                            <a target="_blank" href="/course/${ data._id}" class="btn btn-primary mt-2 w-100">Visit</a>
                        </div>
                    </div>
                </div>
                                `)
                })
            }
        });
    </script>
    <script>
        $(() => {
            $(".paginationContent").pagination({
                pages: "<%= pageCount %>",
                cssStyle: 'light-theme',
                onPageClick: (pageNumber, event) => {
                    $.ajax({
                        url: `/courses/process?pageNo=${ pageNumber }&&coursename=<%= coursename %>&&courseprice=<%= courseprice %>&&centerlocation=<%= centerlocation %>`,
                        type: "GET",
                        dataType: "json",
                        success: (data) => {
                            $(".Courses").empty();
                            $.each(data, (index, data) => {
                                $(".Courses").append(`
                                <div class="col-lg-4 col-md-6 col-12 mt-4">
                    <div class="courseContent p-4 bg-white shadow" style="border-radius: 20px">
                        <div class="top-courseContent d-flex">
                            <div class="forImage text-center">
                                <div class="img"><img src="/assets/centerphotos/${ data.centerphoto}" style="height: 80px; width: 80px; border-radius: 50%" title="Beauty" alt="Beauty"/></div>
                            </div>
                            <div class="forContent pl-2" style="width: calc(100% - 80px)"><h4>${ data.coursename}Course</h4> <p class="mb-0" style="font-size: 13px">${data.coursename} Course is now avialable with Price ${data.courseprice} and number of limited users is ${data.courselimited} at ${data.centerlocation} ${data.users.length} </p>
                            </div>
                        </div>
                        <div class="bottom-courseContent d-flex flex-row flex-wrap justify-content-center mt-2">
                            <span class="badge badge-light m-1 border" style="font-size: 13px">Price: ${ data.courseprice}$</span>
                            <span class="badge badge-light m-1 border" style="font-size: 13px">Lomited: ${ data.courselimited} </span>
                            <span class="badge badge-light m-1 border" style="font-size: 13px">Start: ${ moment(data.coursestart).format("MMM Do YY")} </span>
                            <span class="badge badge-light m-1 border" style="font-size: 13px">End: ${ moment(data.courseend).format("MMM Do YY")} </span>
                            <span class="badge badge-light m-1 border" style="font-size: 13px">Location: ${ data.centerlocation}</span>
                            <span class="badge badge-light m-1 border" style="font-size: 13px">Place: ${ data.centerplace}</span>
                        </div>
                        <div class="forLink mt-2">
                            <a target="_blank" href="/course/${ data._id}" class="btn btn-primary mt-2 w-100">Visit</a>
                        </div>
                    </div>
                </div>
                                `)
                            })
                        }
                    });
                }
            });
        })
    </script>

    <!-- <script>
        $(() => {
            $.ajax({
            url: `/courses/filter`,
            type: "POST",
            contentType: 'application/json',
            dataType: "json",
            body: JSON.stringify({ coursename: $("#coursename").val(), courseprice: $("#courseprice").val(), centerlocation: $("#centerlocation").val() }),
            success: (data) => {
                console.log()
            }
            });
        })
    </script> -->

    <% } %>
</body>

</html>
