<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags(utf-8) & (viewport) -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/assets/css/animate.css"/>
    <!-- Hover CSS -->
    <link rel="stylesheet" href="/assets/css/hover.css"/>
    <!-- Style CSS -->
    <link rel="stylesheet" href="/assets/css/Index.css"/>
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/assets/css/responsive.css"/>
    <!-- Ostazy Title -->
    <title>Ostazy</title>
    <link rel="icon" type="image/png" href="/assets/images/System/Logo/logo.png"/>
</head>



<body class="body" id="body">

    <!-- Start Navbar -->
    <header id="headerContent"
        class="container-fluid headerContent appear-header <%= (page === 'Ostazy'? 'pageTatx pageConst': 'bg-white o_shadow') %>">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/">
                    <img src="/assets/images/System/Logo/logo.png" title="Ostazy always with you" width="40" height="40"
                        class="d-inline-block align-top" alt=" Osstazy always with you"/>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item mt-2 mt-lg-0">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item mt-2 mt-lg-0">
                            <a class="nav-link" id="aboutLink" style="cursor: pointer;">About</a>
                        </li>
                        <li class="nav-item mt-2 mt-lg-0">
                            <a class="nav-link" id="featuresLink" style="cursor: pointer;">Features</a>
                        </li>
                        </li>
                        <li class="nav-item mt-2 mt-lg-0">
                            <a class="nav-link" id="servicesLink" style="cursor: pointer;">Services</a>
                        </li>
                        <li class="nav-item mt-2 mt-lg-0">
                            <a class="nav-link " id="faqLink" style="cursor: pointer;">FAQ</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="Dropdown-word">More </span>
                                <span class="Dropdown-icon"><i class="fas fa-caret-down"></i></span>
                            </a>
                            <div class="dropdown-menu animated slideInUp" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item nav-link" data-toggle="modal" data-target="#terms"
                                    style="cursor: pointer"><span class="hvr-forward">Terms</span></a>
                                <a class="dropdown-item nav-link" data-toggle="modal" data-target="#privacy"
                                    style="cursor: pointer"><span class="hvr-forward">Privacy</span></a>
                                <a class="dropdown-item nav-link" data-toggle="modal" data-target="#contact"
                                    style="cursor: pointer"><span class="hvr-forward">Contact</span></a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item mt-2 mt-lg-0 mr-lg-2">
                            <a type="button" class="nav-link" data-toggle="modal" data-target="#send"
                                style="cursor: pointer">Singup</a>
                        </li>
                        <li class="nav-item mt-2 mt-lg-0 mr-lg-2">
                            <a type="button" class="nav-link" data-toggle="modal" data-target="#login"
                                style="cursor: pointer">Login</a>
                        </li>
                        <li class="nav-item mt-2 mt-lg-0">
                            <form method="POST" action="/ar">
                                <button type="submit" class="nav-link">العربية <i class="fas fa-globe"></i></button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- End Navbar -->

    <!-- Start Carousel Area -->
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active">
                <div class="indicatorContent text-center text-white" style="cursor: pointer;">
                    <div class="forIcon" style="font-size: 25px">
                        <i class="fab fa-centos"></i>
                    </div>
                    <div class="forTopic">
                        <span class="desc">Ostazy</span>
                    </div>
                </div>
            </li>
            <li data-target="#carousel" data-slide-to="1">
                <div class="indicatorContent text-center text-white" style="cursor: pointer;">
                    <div class="forIcon" style="font-size: 25px">
                        <i class="fas fa-chalkboard-teacher"></i>
                    </div>
                    <div class="forTopic">
                        <span class="desc">Instructor</span>
                    </div>
                </div>
            </li>
            <li data-target="#carousel" data-slide-to="2">
                <div class="indicatorContent text-center text-white" style="cursor: pointer;">
                    <div class="forIcon" style="font-size: 25px">
                        <i class="far fa-user"></i>
                    </div>
                    <div class="forTopic">
                        <span class="desc">User</span>
                    </div>
                </div>
            </li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="overlay"></div>
                <img class="d-block w-100" src="/assets/images/System/Outside/Carousel/System.jpeg" alt="First slide">
                <div class="carousel-caption">
                    <h5 class="text-white">Ostazy is always with Users and Instructors</h5>
                    <p class="text-light">The aim of this project is to make the communication between Users and Instructors  easier such that Our System will help the user book the appropriate course at Center. We will show all the courses to the user related to his tags and the user can explore these courses and other courses if he wants.The provided payment method to the user is Paypal, After booking the course buy it, we’ll notify the instructor. At the end, We’ve a special dashboard to know what happens in our system in rapidly.</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="overlay"></div>
                <img class="d-block w-100" src="/assets/images/System/Outside/Carousel/Lecturer.png" alt="Second slide">
                <div class="carousel-caption">
                    <h5 class="text-white">Instructor is appreciated by Ostazy </h5>
                    <p class="text-light">The Instructor is considered as User but the difference between them is the Privileges such that the instructor has special dashboard to see the statistics related to his courses and chat  with the users about  the course. The important goal for the Instructor is that Our System provide Huge Form to make the instructor  able to provide the details of the course such  as Name, Price, Limited Numbers Of Users, Appointments, Course Content, Video about the course and Image about the center. After publishing the course for Example, JavaScript, Our System will notify all the users with #tag (JavaScript) that JS Course has been published with more than one method for notification. </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="overlay"></div>
                <img class="d-block w-100" src="/assets/images/System/Outside/Carousel/User.jpg" alt="Third slide">
                <div class="carousel-caption">
                    <h5 class="text-white">User is appreciated by Ostazy</h5>
                    <p class="text-light">The User can make authentication simply with our website through  Sign-Up and Login forms. After Logging to the website, He’ll have profile with his special secure data in our system and he can change it by visiting the settings. The user will see some Instructors, some users, some users from his governance and some courses to book based on his tags. He can explore all the courses based on his tags and book the course he wants with Paypal Payment after seeing the all details of this course and Users’ Opinions. After booking the course, Our system will notify the instructor that the user has joined the course with sending all the user’s details. The user can see all the booked courses and contact with the instructor by Chat. At the end The user will be notified if a new course related to his tags is published by the Instructor.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- End Carousel Area -->

    <!-- Start Intro for Ostazy Area -->
    <section class="tatx-intro container-fluid py-5" id="About">
        <div class="container py-5">
            <div class="row">
                <div class="order-2 col-md-6 col-12 mt-5 mt-md-0 wow fadeInLeft">
                    <div class="half-img hvr-bob">
                        <img alt="vector" src="/assets/images/System/Outside/Intro/vector-art-3.png">
                    </div>
                </div>
                <div class="order-1 order-md-3 col-md-6 col-12 wow fadeInRight">
                    <div class="heading-area">
                        <span class="sub-title text-muted hvr-forward animated pulse infinite">Ostazy is always with Users and Instructors</span>
                        <h2 class="title text-muted hvr-forward"> </h2>
                        <p class="para text-muted hvr-forward">Our goal is to facilitate the relationship between User and Instructor 
                            Ostazy is an app its role is to make the user able to book the course he wants at any Center with PayPal payment method after seeing the details of Instructor, Course, Center and reviews for this course.
                            </p>
                    </div>
                    <ul class="counter-list list-unstyled">
                        <li class="counter-item hvr-pulse-shrink">
                            <i aria-hidden="true" class="fas fa-users text-muted"></i>
                            <h6 class="counter-number text-muted"><span class="count">100</span>+</h6>
                            <p class="sub-title text-muted">Happy Users</p>
                        </li>
                        <li class="counter-item hvr-pulse-shrink">
                            <i aria-hidden="true" class="fas fa-list-alt text-muted"></i>
                            <h6 class="counter-number text-muted"><span class="count">3000</span>+</h6>
                            <p class="sub-title text-muted">Lines Of Code</p>
                        </li>
                        <li class="counter-item hvr-pulse-shrink">
                            <i aria-hidden="true" class="fas fa-award text-muted"></i>
                            <h6 class="counter-number text-muted"><span class="count">10</span>+</h6>
                            <p class="sub-title text-muted">tasks Completed</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Intro for Ostazy Area -->

    <!-- Start Features Area -->
    <section id="Features" class="features-section container-fluid py-5">
        <div class="container">
            <div class="row wow fadeInLeft">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2 class="hvr-forward">Creative Features</h2>
                        <p class="hvr-forward">Ostazy App is a smart app as it’s based on lots of features that make it the best app to lead the relationship between User and Instructor. These features are Professionalism, Experience, Integrated Team and Smart Solutions. </p>
                        <div class="bar"></div>
                    </div>
                </div>
            </div>

            <div class="row wow fadeInUp mt-4">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="features-content text-center hvr-grow-shadow">
                        <div class="icon">
                            <i class="fab fa-airbnb"></i>
                        </div>
                        <h3>Professionalism</h3>
                        <p>Professionalism because of experienced developers use smart technologies</p>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mt-3 mt-md-0">
                    <div class="features-content text-center hvr-grow-shadow">
                        <div class="icon">
                            <i class="fab fa-battle-net"></i>
                        </div>
                        <h3>Experience</h3>
                        <p>Experience because of developers have experience over 3 years </p>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 mt-3 mt-lg-0 col-sm-12 col-12">
                    <div class="features-content text-center hvr-grow-shadow">
                        <div class="icon left-icon">
                            <i class="fas fa-allergies"></i>
                        </div>
                        <h3>Integrated team</h3>
                       <p>Integrated team because of cooperative team to find smart solutions</p>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 mt-3 mt-lg-0 col-sm-12 col-12">
                    <div class="features-content text-center hvr-grow-shadow">
                        <div class="icon">
                            <i class="fas fa-burn"></i>
                        </div>
                        <h3>Smart solutions</h3>
                        <p>Smart Solutions because of simplest solutions to problems</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Features Area -->

    <!-- Start Services Area -->
    <section class="services-section bg-color py-5" id="Services">
        <div class="container">
            <div class="row wow fadeInLeft">
                <div class="col-12">
                    <div class="section-title">
                        <h2 class="hvr-forward">Ostazy Roles</h2>
                        <p class="hvr-forward">There are three roles in Ostazy. The three roles are System, User and Instructor. The System will lead the relationship between User and Instructor, The User will book the course by the system and The Instructor will publish courses to users.</p>
                        <div class="bar"></div>
                    </div>
                </div>
            </div>
            <div class="row mt-4 wow fadeInUp">
                    <div class=" col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="single-services">
                    <div class="icon">
                        <i class="fab fa-centos"></i>
                    </div>
                    <h3>System Role</h3>
                    <p>The System will lead the relationship between User and Instructor rapidly and seek to achieve the satisfaction</p>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 mt-3 mt-lg-0 col-sm-12 col-12">
                <div class="single-services">
                    <div class="icon">
                        <i class="fas fa-chalkboard-teacher"></i>
                    </div>
                    <h3>Instructor Role</h3>
                    <p>The Instructor will publish courses to users by a smart editor and we’ll notify the users</p>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 mt-3 mt-lg-0 col-sm-12 col-12">
                <div class="single-services">
                    <div class="icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <h3>User Role</h3>
                    <p>The User will book the course by PayPal Payment Method after seeing the course details</p>
                </div>
            </div>
        </div>
        </div>

        <div class="default-shape">
            <div class="shape-1">
                <img src="/assets/images/System/Outside/Service/4.png" alt="image">
            </div>

            <div class="shape-2 rotateme">
                <img src="/assets/images/System/Outside/Service/5.svg" alt="image">
            </div>

            <div class="shape-3">
                <img src="/assets/images/System/Outside/Service/6.svg" alt="image">
            </div>

            <div class="shape-4">
                <img src="/assets/images/System/Outside/Service/7.png" alt="image">
            </div>

            <div class="shape-5">
                <img src="/assets/images/System/Outside/Service/8.png" alt="image">
            </div>
        </div>

        <div class="services-shape">
            <img src="/assets/images/System/Outside/Service/cloud.png" alt="image">
        </div>
    </section>
    <!-- End Services Area -->

    <!-- Start FAQ Area -->
    <section class="faq-section container-fluid py-5" id="FAQ">
        <div class="container">
            <div class="row wow fadeInLeft">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Frequently <span>Asked</span> Questions</h2>
                        <p>Here is a collection of frequently asked questions that are related to System, Instructor and User. Our Team will be careful to show every ambiguous feature in the Application by Question and explanation Answer.</p>
                        <div class="bar"></div>
                    </div>
                </div>
            </div>

            <div class="row mt-3 align-items-center">
                <div class="col-lg-6 wow fadeInLeft">
                    <div class="faq-accordion">
                        <ul class="accordion">
                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)">
                                    <i class="fas fa-arrow-circle-down"></i>
                                    1) What’s the role of Ostazy App although there are websites perform the same role like Udemy?
                                </a>

                                <div class="accordion-content">
                                    <p>We’ve the same idea like other websites, Its enhances the relationship between Users and Instructors but each idea works in a different way. Ostazy App helps the users book the course at Center by Payment method after seeing the details of Instructor, Course, Center and Reviews.</p>
                                </div>
                            </li>

                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)">
                                    <i class="fas fa-arrow-circle-down"></i>
                                    2) Is Ostazy App free for both Instructors and Users?
                                </a>

                                <div class="accordion-content">
                                    <p>Yup, It’s free for all and no money is taken for any feature for User or Instructor. 
                                    </p>
                                </div>
                            </li>

                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)">
                                    <i class="fas fa-arrow-circle-down"></i>
                                    3) Is data secure for all users?
                                </a>

                                <div class="accordion-content">
                                    <p>Yup, all data is secure for all users and no data is sent to any company for business, but we use the data in our app only for Business.</p>
                                </div>
                            </li>

                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)">
                                    <i class="fas fa-arrow-circle-down"></i>
                                    4) What’s the factor to prove that course is good?
                                </a>

                                <div class="accordion-content">
                                    <p>The factor to prove that course is good is the Users’ Reviews on the course. No any user can make review on the course, they are only the users that participated in the course.</p>
                                </div>
                            </li>

                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)">
                                    <i class="fas fa-arrow-circle-down"></i>
                                    5) Is PayPal Payment the only method to buy a course?
                                </a>

                                <div class="accordion-content">
                                    <p>Yup, Temporarily PayPal Payment is the only method to buy a course. You can use your Visa, MasterCard,…etc to pay the money to the Instructor. Don’t be afraid the PayPal Payment is secure.</p>
                                </div>
                            </li>
                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)">
                                    <i class="fas fa-arrow-circle-down"></i>
                                    6) How can the instructor receive the money?
                                </a>

                                <div class="accordion-content">
                                    <p>The money behind any executed payment method will transfer to the Ostazy PayPal Account. After the course is completed with users or the course appointment, The instructor can receive the money on his PayPal Account.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInRight">
                    <div class="faq-image">
                        <img src="/assets/images/System/Outside/Intro/vector-art-3.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End FAQ Area -->


    <!-- Start terms/privacy Area -->
    <div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Terms Content</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="ul-privacy">
                        <li class="li-privacy">
                            <p>Using our app and Providing your personal data is considered as you agree on terms of use. We represent Ostazy App that’s registered in Egypt. You represent User for this App and If you do not agree on terms of use, stop using our App. </p>
                        </li>
                        <li class="li-privacy">
                            <h5>Do we collect your personal Info?</h5>
                            <p>Yup, we collect all your personal Info and don’t use your personal info in a wrong way. We use your personal Info In time of need. </p>
                        </li>
                        <li class="li-privacy">
                            <h5>How do we use your personal Info?</h5>
                            <p>We use your Personal Info in time of need, for Example, When your book a course at Center, we send all your personal Info to the instructor to able to know your identity.</p>
                        </li>
                        <li class="li-privacy">
                            <h5>Are my personal Info secure?</h5>
                            <p>Yup, all data is secure for all users and no data is sent to any company for business, but we use the data in our app only.</p>
                        </li>
                        <li class="li-privacy">
                            <h5>Can I edit my personal Info?</h5>
                            <p>Yup, You can edit your personal Info from the settings in the time you want. Be sure that your edited personal Info is corrected and completed because we send the personal Info to the instructor when you book the course.</p>
                        </li>
                        <li class="li-privacy">
                            <h5>Is PayPal Payment the only method to buy a course?</h5>
                            <p>Yup, Temporarily PayPal Payment is the only method to buy a course. You can use your Visa, MasterCard,…etc to pay the money to the Instructor. Don’t be afraid the PayPal Payment is secure.</p>
                        </li>
                        <li class="li-privacy">
                            <h5>What’s the action I must take if there’s a problem faced me during browsing the website?</h5>
                            <p>The action you must take is through (Contact Us) giving us the details(Email, Problem type, Problem Content).</p>
                        </li>
                        <li class="li-privacy">
                            <h5>The Right to edit terms of use</h5>
                            <p>Sure, We’ve the right to edit terms of use in any time so we can add, update or delete any term in our App and As we’ve the right to do this, You’ve the right to be notified about the added, updated or deleted term through your email.</p>
                        </li>
                        <li class="li-privacy">
                            <h5>Have you any question you’d like to know his answer?</h5>
                            <p>Sure, You’ve the right to ask any question to remove the ambiguous. You can ask your question on Ostazy@ask.com and we’ll immediately send the answer to your email</p>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="privacy" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Privacy Content</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="ul-privacy">
                        <li class="li-privacy">
                            <p>Using our app and Providing your personal data is considered as you agree on terms of use. We represent Ostazy App that’s registered in Egypt. You represent User for this App and If you do not agree on terms of use, stop using our App. </p>
                        </li>
                        <li class="li-privacy">
                            <h5>Do we collect your personal Info?</h5>
                            <p>Yup, we collect all your personal Info and don’t use your personal info in a wrong way. We use your personal Info In time of need. </p>
                        </li>
                        <li class="li-privacy">
                            <h5>How do we use your personal Info?</h5>
                            <p>We use your Personal Info in time of need, for Example, When your book a course at Center, we send all your personal Info to the instructor to able to know your identity.</p>
                        </li>
                        <li class="li-privacy">
                            <h5>Are my personal Info secure?</h5>
                            <p>Yup, all data is secure for all users and no data is sent to any company for business, but we use the data in our app only.</p>
                        </li>
                        <li class="li-privacy">
                            <h5>Can I edit my personal Info?</h5>
                            <p>Yup, You can edit your personal Info from the settings in the time you want. Be sure that your edited personal Info is corrected and completed because we send the personal Info to the instructor when you book the course.</p>
                        </li>
                        <li class="li-privacy">
                            <h5>Is PayPal Payment the only method to buy a course?</h5>
                            <p>Yup, Temporarily PayPal Payment is the only method to buy a course. You can use your Visa, MasterCard,…etc to pay the money to the Instructor. Don’t be afraid the PayPal Payment is secure.</p>
                        </li>
                        <li class="li-privacy">
                            <h5>What’s the action I must take if there’s a problem faced me during browsing the website?</h5>
                            <p>The action you must take is through (Contact Us) giving us the details(Email, Problem type, Problem Content).</p>
                        </li>
                        <li class="li-privacy">
                            <h5>The Right to edit terms of use</h5>
                            <p>Sure, We’ve the right to edit terms of use in any time so we can add, update or delete any term in our App and As we’ve the right to do this, You’ve the right to be notified about the added, updated or deleted term through your email.</p>
                        </li>
                        <li class="li-privacy">
                            <h5>Have you any question you’d like to know his answer?</h5>
                            <p>Sure, You’ve the right to ask any question to remove the ambiguous. You can ask your question on Ostazy@ask.com and we’ll immediately send the answer to your email</p>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Login to Ostazy</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/user/login" method="POST">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i
                                        class="far fa-envelope-open"></i></span>
                            </div>
                            <input required type="email" name="email" class="form-control" id="email"
                                aria-describedby="emailHelp" placeholder="Enter your email">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                            </div>
                            <input required type="password" name="password" id="passwordLogin" class="form-control"
                                aria-describedby="passwordLogin" placeholder="Enter your Password">
                        </div>
                        <div class="col-md-12 text-center ">
                            <button type="submit" class=" btn btn-block mybtn btn-success tx-tfm">Login <i
                                    class="fas fa-sign-in-alt"></i></button>
                        </div>
                        <div class="col-md-12 mb-3 mt-3">
                            <p class="text-center">
                                <a href="/user/auth/facebook" class="w-100 btn btn-primary facebook"> <span>Login
                                        with Facebook</span> <i class="fab fa-facebook-f"></i> </a>
                                </a>
                            </p>
                        </div>
                        <div class="form-group">
                            <p class="text-center">By signing in you accept our <a
                                    style="cursor: pointer; color: rgb(34, 111, 253)" id="hlot"> terms of use</a>
                            </p>
                        </div>
                        <div class="form-group">
                            <p class="text-center">By signing in you accept our <a
                                    style="cursor: pointer; color: rgb(34, 111, 253)" id="hlop"> Privacy Policy</a>
                            </p>
                        </div>
                        
                        <div class="form-group">
                            <p class="text-center">Don't have account? <a
                                    style="cursor: pointer; color: rgb(34, 111, 253)" id="hlos">Signup here</a></p>
                            <p class="text-center mb-0">Forgot your password? <a
                                style="cursor: pointer; color: rgb(34, 111, 253)" id="hlof">Forgot Password</a></p>
                        </div>
                       
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="send" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Create new Account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <%- include('../partials/Basic/errors.ejs') -%>
                    <form id="signupForm" action="/user/signup" method="POST">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="far fa-user"></i></span>
                            </div>
                            <input type="text" name="fullname" id="email" class="form-control"
                                placeholder="Enter the fullname">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i
                                        class="far fa-envelope-open"></i></span>
                            </div>
                            <input type="text" name="email" id="email" class="form-control"
                                placeholder="Enter the email">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="password" id="password" class="form-control"
                                placeholder="Enter the password">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
                                placeholder="Confirm the password">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-phone"></i></span>
                            </div>
                            <input type="text" name="phone" id="phone" class="form-control"
                                placeholder="Enter the phone number">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-danger" data-toggle="popover"
                                    data-placement="top" title="Important Notification"
                                    data-content="Be sure that the phone number is correct and valid">Notify</button>
                            </div>
                        </div>
                        <div class="input-group mb-3">

                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"> <i class="far fa-compass"></i></span>
                            </div>
                            <select id="location" name="location" class="custom-select">
                                <option value="Alexandria">Alexandria</option>
                                <option value="Aswan">Aswan</option>
                                <option value="Asyut">Asyut</option>
                                <option value="Beheira">Beheira</option>
                                <option value="Beni Suef">Beni Suef</option>
                                <option value="Cairo">Cairo</option>
                                <option value="Dakahlia">Dakahlia</option>
                                <option value="Damietta">Damietta</option>
                                <option value="Faiyum">Faiyum</option>
                                <option value="Gharbia">Gharbia</option>
                                <option value="Giza">Giza</option>
                                <option value="Ismailia">Ismailia</option>
                                <option value="Kafr El Sheikh">Kafr El Sheikh</option>
                                <option value="Luxor">Luxor</option>
                                <option value="Matruh">Matruh</option>
                                <option value="Minya">Minya</option>
                                <option value="Monufia">Monufia</option>
                                <option value="New Valley">New Valley</option>
                                <option value="North Sinai">North Sinai</option>
                                <option value="Port Said">Port Said</option>
                                <option value="Qalyubia">Qalyubia</option>
                                <option value="Qena">Qena</option>
                                <option value="Red Sea">Red Sea</option>
                                <option value="Sharqia">Sharqia</option>
                                <option value="Sohag">Sohag</option>
                                <option value="South Sinai">South Sinai</option>
                                <option value="Suez">Suez</option>
                            </select>
                            <div class="input-group-append">
                                <label class="input-group-text" for="inputGroupSelect02">Location</label>
                            </div>
                        </div>
                        <div class="input-group mb-3">

                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"> <i
                                        class="fas fa-mars-stroke"></i></span>
                            </div>
                            <select class="custom-select" name="gender">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Unknown">Unknown</option>
                            </select>
                            <div class="input-group-append">
                                <label class="input-group-text" for="inputGroupSelect02">Gender</label>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"> <i class="fas fa-dice-d20"></i></span>
                            </div>
                            <select class="custom-select" name="role">
                                <option value="User">User</option>
                                <option value="Instructor">Instructor</option>
                            </select>
                            <div class="input-group-append">
                                <label class="input-group-text" for="inputGroupSelect02">Role</label>
                            </div>
                        </div>
                        <div class="form-group ">
                            <button type="submit " class="btn btn-primary "> Signup <i
                                    class="fas fa-user-plus"></i></button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Create new Contact <i class="fas fa-reply"></i>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="contactUs" id="contactUs">
                        <p class="text-muted">Create a new contact with us. By Contact Us Form you will express about your problem and we will seek to solve this problem Immediately.</p>
                        <div class="form-here" id="form-here">
                            <form class="contactForm" id="contactForm">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="far fa-envelope-open"></i></span>
                                    </div>
                                    <input required placeholder="Enter your email" type="email" class="form-control"
                                        id="emailContact" />
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="fas fa-exclamation-triangle"></i></span>
                                    </div>
                                    <select class="custom-select text-muted" id="problemContact">
                                        <option value="Website">Website</option>
                                        <option value="student">User</option>
                                        <option value="teacher">Instructor</option>
                                    </select>
                                    <div class="input-group-append">
                                        <label class="input-group-text" for="inputGroupSelect02">Problem</label>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="far fa-comment"></i></span>
                                    </div>
                                    <textarea required ype="text" class="form-control" id="messageContact"
                                        placeholder="Enter your message" maxlength="255"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Submit <i
                                            class="fas fa-reply"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="forgot" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">Forgot my Password <i class="fas fa-reply"></i>
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="forgotForm">
                        <h5 class="mb-2">Reset your password <i class="fas fa-sync"></i></h5>
                        <form action="/user/forgotPassword" method="POST">
                            <div class="input-group mb-3">
                                <input type="email" name="emailForgot" class="form-control" id="emailForgot"
                                    aria-describedby="emailForgot" placeholder="Enter your email correctly" required>
                                <div class="input-group-append">
                                    <span class="input-group-text">@yahoo.com</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Reset Password <i
                                        class="fas fa-sync"></i></button>
                            </div>
                        </form>
    
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="resetPassword" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Reset your Password <i class="fas fa-reply"></i>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="forgotForm">
                    <h5 class="mb-3">Update your password <i class="fas fa-sync"></i></h5>
                        <form action="/user/updatePassword" method="POST">
                            <input type="hidden" name="userID" id="userID"/>
                            <input type="hidden" name="resetPasswordToken" id="resetPasswordToken" />
                            <div class="input-group mb-3">
                                    <input type="password" name="password" class="form-control" id="password"
                                    aria-describedby="passwordHelp" placeholder="Enter new Password" required>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                    <input type="password" name="confirmPassword" class="form-control" id="confirmPassword"
                                    aria-describedby="passwordHelp" placeholder="Confirm Password" required>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Update Password <i
                                        class="fas fa-sync"></i></button>
                            </div>
                        </form>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    </div>

    <!-- End terms/privacy Area -->

    <!-- Start Footer -->
    <%- include('../partials/English/Footer') -%>
    <!-- End Footer -->

    <!-- Start Go Top Section -->
    <div class="go-top">
        <i class="bx bx-chevron-up"></i>
        <i class="bx bx-chevron-up"></i>
        <i class="fas fa-arrow-circle-up"></i>
    </div>
    <!-- End Go Top Section -->

    <!-- Notification -->
    <div class="notificationSuccess text-white shadow-lg p-3"></div>
    <div class="notificationError text-white shadow-lg p-3"></div>
    <!-- Notification -->

    <!-- Jquery Slim JS -->
    <script src="/assets/js/jquery.min.js"></script>
    <!-- jquery-3.5.1 -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- Popper JS -->
    <script src="/assets/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Wow JS -->
    <script src="/assets/js/wow.min.js"></script>
    <!-- Axios JS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Moment JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
    <!-- Custom JS -->
    <script src="/assets/js/Index.js"></script>

    <script>
        $(() => {
            if (("<%= success %>").split(" ").slice(0, 1).join("") === "resetPassword") {
                $("#resetPassword").modal("show");
                const arrOfElements = ("<%= success %>").split(" ");
                $("#userID").val(arrOfElements[1]);
                $("#resetPasswordToken").val(arrOfElements[2]);
            }
            if (("<%= success %>").split(" ").slice(0, 1).join("") === "Home") {
                $(".notificationSuccess")
                        .html(
                            `
                 <div class="cancelNotificationSuccess text-white" id="cancelNotificationSuccess">x</div>
            <audio autoplay class="d-none">
                <source src="
                /assets/sounds/notification.mp3" type="audio/mpeg">
             </audio>
            <h4 class="text-white">Notification</h4>
            <p class="mb-0 text-white" style="font-size: 14px; color: white">${ "<%= success %>".split(" ").slice(1).join(" ") }</p>
                 `
                        )
                        .show(100)
                        .delay(5000)
                        .hide(100);
            }
            if (("<%= error %>").split(" ").slice(0, 1).join("") === "Home") {
                $(".notificationError")
                        .html(
                            `
                 <div class="cancelNotificationError text-white" id="cancelNotificationError">x</div>
            <audio autoplay class="d-none">
                <source src="
                /assets/sounds/notification.mp3" type="audio/mpeg">
             </audio>
            <h4 class="text-white">Notification</h4>
            <p class="mb-0 text-white" style="font-size: 14px; color: white">${ "<%= error %>".split(" ").slice(1).join(" ") }</p>
                 `
                        )
                        .show(100)
                        .delay(5000)
                        .hide(100);
            }
            if (("<%= errors %>")) {
                $("#send").modal("show");
            }
            if (("<%= error %>").split(" ").slice(0, 1).join("") === "Login") {
                $("#login").modal("show");
                $(".notificationError")
                        .html(
                            `
                 <div class="cancelNotificationError text-white" id="cancelNotificationError">x</div>
            <audio autoplay class="d-none">
                <source src="
                /assets/sounds/notification.mp3" type="audio/mpeg">
             </audio>
            <h4 class="text-white">Notification</h4>
            <p class="mb-0 text-white" style="font-size: 14px; color: white">${ "<%= error %>".split(" ").slice(1).join(" ") }</p>
                 `
                        )
                        .show(100)
                        .delay(5000)
                        .hide(100);
            }
            if (("<%= error %>").split(" ").slice(0, 1).join("") === "resetPassword") {
                $("#resetPassword").modal("show");
                $(".notificationError")
                        .html(
                            `
                 <div class="cancelNotificationError text-white" id="cancelNotificationError">x</div>
            <audio autoplay class="d-none">
                <source src="
                /assets/sounds/notification.mp3" type="audio/mpeg">
             </audio>
            <h4 class="text-white">Notification</h4>
            <p class="mb-0 text-white" style="font-size: 14px; color: white">${ "<%= error %>".split(" ").slice(1).join(" ") }</p>
                 `
                        )
                        .show(100)
                        .delay(5000)
                        .hide(100);
            }
            if (("<%= error %>").split(" ").slice(0, 1).join("") === "Signup") {
                $("#send").modal("show");
                $(".notificationError")
                        .html(
                            `
                 <div class="cancelNotificationError text-white" id="cancelNotificationError">x</div>
            <audio autoplay class="d-none">
                <source src="
                /assets/sounds/notification.mp3" type="audio/mpeg">
             </audio>
            <h4 class="text-white">Notification</h4>
            <p class="mb-0 text-white" style="font-size: 14px; color: white">${ "<%= error %>".split(" ").slice(1).join(" ") }</p>
                 `
                        )
                        .show(100)
                        .delay(5000)
                        .hide(100);
            }
            if (("<%= error %>").split(" ").slice(0, 1).join("") === "Forgot") {
                $("#forgot").modal("show");
                $(".notificationError")
                        .html(
                            `
                 <div class="cancelNotificationError text-white" id="cancelNotificationError">x</div>
            <audio autoplay class="d-none">
                <source src="
                /assets/sounds/notification.mp3" type="audio/mpeg">
             </audio>
            <h4 class="text-white">Notification</h4>
            <p class="mb-0 text-white" style="font-size: 14px; color: white">${ "<%= error %>".split(" ").slice(1).join(" ") }</p>
                 `
                        )
                        .show(100)
                        .delay(5000)
                        .hide(100);
            }
        })
    </script>

</body>

</html>