<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top shadow">
    <div class="container">
        <a class="navbar-brand" href="/profile" data-toggle="tooltip" data-placement="bottom"
            title="Online Course Booking">
            <img src="/assets/images/System/Logo/logo.png" alt="Online Course Booking" title="Online Course Booking"
                style="height: 50px; width: 50px; border-radius: 50%">
            <span class="website-name">Ostazy</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <form class="form-inline my-2 my-lg-0">
                <div class="Typeahead">
                    <div class="u-posRelative">
                        <input class="Typeahead-hint" type="text" tabindex="-1" readonly>
                        <input class="defaultTI border" id="demo-input" type="text" name="q"
                            placeholder="Search about Course...">
                        <img class="Typeahead-spinner" src="/assets/images/System/Inside/spinner.gif">
                        <span class="moveIcon"><i class="fas fa-search"></i></span>
                    </div>
                    <div class="Typeahead-menu"></div>
                </div>
            </form>
            <ul class="navbar-nav ml-auto">
                <% if(user.role === "Instructor") { %>
                    <li class="nav-item"> 
                   <a class="nav-link <%= (page === "Dashboard")? 'speLink' : '' %>" href="/dashboard" 
                       title="Instructor Dashboard">
                       <span class="sr-only">(Dashboard)</span> <i class="fas fa-tachometer-alt"></i>
                   </a>
               </li>
               <%  } %>

               <% if(user.role === "User") { %>
                <li class="nav-item">
                    <a class="nav-link <%= (page === "Explore")? 'speLink' : '' %>" href="/explore" title="Explore Items">
                        <span class="sr-only">(Explore)</span> <i class="fab fa-wpexplorer"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= (page === "Courses")? 'speLink' : '' %>" href="/courses" title="Courses">
                        <span class="sr-only">(Courses)</span> <i class="fas fa-book"></i>
                    </a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link <%= (page === "Book")? 'speLink' : '' %>" href="/book" data-toggle="tooltip" data-placement="bottom"
                        title="Booked Courses">
                        <span class="sr-only">(bookedCourses)</span> <i class="fas fa-cart-plus"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= (page === "Notification")? 'speLink' : '' %>" href="/notifications" title="Notifications">
                        <span class="sr-only">(Notifications)</span> <i class="fa fa-bell" aria-hidden="true"></i>
                    </a>
                </li>
               <%  } %>
                
                <li class="nav-item">
                    <a class="nav-link <%= (page === 'Settings')? 'speLink' : '' %>" href="/settings" title="Settings">
                        <span class="sr-only">(Settings)</span> <i class="fas fa-cogs"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= (page === 'Logout')? 'speLink' : '' %>" href="/profile/logout" data-toggle="tooltip" data-placement="bottom"
                        title="Logout">
                        <span class="sr-only">(Logout)</span> <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>