<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <h4 class="page-title">Dashboard</h4>
            <h5>Statistics</h5>
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-stats card-warning">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-users"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Courses</p>
                                        <h4 class="card-title"><%= courses.length %></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-stats card-success">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-bar-chart"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Users</p>
                                        <h4 class="card-title">
                                            <% var usersCount = 0; %>
                                            <% for(var i = 0; i < courses.length; i++) { %>
                                                <% usersCount += courses[i].users.length %>
                                            <% } %>
                                            <%= usersCount %>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-stats card-danger">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-newspaper-o"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Money</p>
                                        <h4 class="card-title">
                                            <% var moneyCount = 0; %>
                                            <% for(var i = 0; i < courses.length; i++) { %>
                                                <% moneyCount += courses[i].courseprice * courses[i].users.length  %>
                                            <% } %>
                                            $ <%= moneyCount %>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-stats card-primary">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-check-circle"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Competitors</p>
                                        <h4 class="card-title"><%= instructorIDS.length %></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h5>Courses</h5>
            <% if(courses.length === 0) { %>
                <p class="alert alert-danger">There are no courses now</p>
            <% } else { %>
                <div class="row">
                    <% courses.forEach((course) => { %>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="card text-center" style="border-radius: 15px">
                            <div class="card-header">
                                <img src="/assets/centerphotos/<%= course.centerphoto %>" style="height: 50px; width: 50px; border-radius: 50%; border: 1px solid #888"/>
                                <h4 class="card-title"><%= course.coursename %></h4>
                                <p class="card-category">
                                    <%= course.coursename %> Course has <%= course.users.length %> users from
                                    <%= course.courselimited %></p>
                                    <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#coursecontent<%= course._id %>">
            content
        </button>
    
        <a type="button" class="btn btn-success" href="/course/<%= course._id %>" target="_blank">
            Link
        </a>
      
      <!-- Modal -->
      <div class="modal fade" id="coursecontent<%= course._id %>" tabindex="-1" role="dialog" aria-labelledby="coursecontent" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle"><%= course.coursename %> Content</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%- course.coursebio %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
                                
                            </div>
                        </div>
                    </div>
    
                    <% }) %>
    
                </div>
            <% } %>
            <h5>The Relationship between Courses and Users</h5>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">The Relationship between Courses and Users</h4>
                            <p class="card-category">
                                Number of users in each course</p>
                        </div>
                        <div class="card-body">
                            <div id="coursesChart" class="chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>