<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <h4 class="page-title">All user requests </h4>
            <div class="row">
                <% courses.forEach((course) => { %>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card text-center" style="border-radius: 15px">
                        <div class="card-header">
                            <img src="/assets/centerphotos/<%= course.centerphoto %>" style="height: 50px; width: 50px; border-radius: 50%; border: 1px solid #888"/>
                            <h4 class="card-title"><%= course.coursename %></h4>
                            <p class="card-category">
                                <%= course.coursename %> Course has <%= course.users.length %> users from
                                <%= course.courselimited %></p>
                                <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userRequests<%= course._id %>">
        User Requests
    </button>
  
  <!-- Modal -->
  <div class="modal fade" id="userRequests<%= course._id %>" tabindex="-1" role="dialog" aria-labelledby="coursecontent" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">User Requests <%= course.users.length %>/<%= course.courselimited %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <div class="container-fluid">
             <% course.users.forEach((user) => { %>
                <div class="row mt-2">
                    <div class="col-5">
                        <div class="left-content">
                            <div class="image">
                                <img class="rounded-circle shadow" src="/assets/uploads/<%= user.avatar %>" style="height: 80px; width: 80px;"/>
                            </div>
                           <div class="fullname mt-1"><span><%= user.fullname %></span></div>
                           <div class="accountStatus mt-1">
                               <% if(user.accountActive === true) { %>
                                    <span class="accountActive badge badge-success">Online</span>
                               <% }  else { %>
                                    <span class="accountActive badge badge-danger">Offline</span>
                               <% }%>          
                               <span class="accountLocation badge badge-success"><%= user.location %> </span> 
                           </div>
                        </div>
                    </div>
                    <div class="col-7">
                       <div class="right-content">
                           <p class="mb-0 text-left" style="font-size: 14px"><%= user.bio %>. His Phone is <span class="accountPhone badge badge-secondary"><%= user.phone %></span></p>
                       </div>
                   </div>
                </div>
             <% }) %>
         </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a type="button" href="/chat/<%= course._id %>" target="_blank" class="btn btn-warning">Chat with Group</a>
        </div>
      </div>
    </div>
  </div>
                            
                        </div>
                    </div>
                </div>

                <% }) %>

            </div>
        </div>
    </div>
</div>